PORT=8080

# Amadeus
AMADEUS_ENV=test
AMADEUS_CLIENT_ID=
AMADEUS_CLIENT_SECRET=

# RapidAPI
RAPIDAPI_KEY=
RAPIDAPI_BOOKING_HOST=booking-com.p.rapidapi.com

# PredictHQ
PREDICTHQ_KEY=

# Ticketmaster
TICKETMASTER_KEY=

# OpenWeatherMap
OPENWEATHER_KEY=

# Google Places
GOOGLE_PLACES_KEY=


